*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    border:5px solid black;

}
.logo button {
    padding:8px;
    background:;

}
.logo  p{
    font-style: italic;
    font-size:17px;
    font-weight:1000;
}
.navbar{
  display: flex;
  align-items: center;
  padding:10px;

}
nav{
    flex:1;
    text-align:right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size:18px;
    font-weight:700;
    
}
a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;

}
.container{
    max-width: 1300px;
    margin:auto;
    padding-right: 25px;
    padding-left:25px;
    height:100%;

}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;

}
.col-2{
    flex-basis:40%;
    min-width:600px;
    


}
.col-2 img{
    max-width:80%;
    padding:100px 0;
    margin-right:50px;
    margin-top:40px;
    
    
}
.col-2 h1{
    font-size:40px;
    line-height:60px;
    margin-top:80px;

}
.btn{
    display:inline-block;
    background: black;
    color:#fff;
    font-weight: 800;
    padding:8px 30px;
    margin:30px 0;
    border-radius: 30px;
    ;
}
.header{
    background:radial-gradient(white);
    
}
.header .row{
    margin-top:-120px;
}

.split {
    margin-top:-40px;
    height: 50%;
    width: 50%;
    position: absolute;
    padding-top: 0px;
  }
  
  
  .left {
    left: 0;
    background-image: linear-gradient(lightpink,pink,white);
  }

  .right {
    right: 0;
    background-image:linear-gradient(rgb(0, 183, 255),white,rgb(66, 174, 224) );
  }

  .center img {
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  
  .center  h2{
      padding-top:30px;
      margin-left:30px;
      font-size:35px;
      font-style: italic;
      
  }
  .center  p{

    padding:30px;
    font-size:20px;
    font-weight:1000;
    color:black;
      
  }
  .center a{
      margin-top:-50px;
      margin-left: 20px;
  }
  .center h3{
      margin-left:20px;
  }

  .small-container {
      margin-top:300px;
      font-size:20px;
      
  }

.col-4{
    flex-basis:20%;
    padding:50px;
    min-width:50px;
    margin-bottom:50px;
   transition:transform 0.5;
}
.col-4 img{
    width:70%;
}
.title{
    padding-top:30px;
    text-align: center;
    margin:0 auto 20px;
    position:relative;
    line-height: 80px;
    color:#555;

}
.title::after{
    content:"";
    background:blue;
    width:120px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
}
h4{
    color:#555;
    font-weight: 500;
}
.rating .fa{
    color:blue;
}
.col-4:hover{
        transform: translateY(-20px);
}
.col-6{
    flex-basis:16%;
    padding:50px;
    min-width:50px;
    margin-bottom:50px;
   transition:transform 0.5;
}
.col-6 img{
    width:100%;
}
.col-6:hover{
    transform: translateY(-20px);
}
 p strong{
    align-content: center;
    color:black;
}
a em{
    color: black;
    text-align: center;
    font-size:30px;
    font-weight: 900;
    display:block;
    border-style:inset;
    border-width:1px;
    border-color:black;
    background-color: blue;
}